.card{
  margin-bottom: 20px;
}

.title {
  color: #000099;
  border-bottom: 1px solid;
  font: 15px Arial, sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 100px;
}

.highlight {
  background-color: lightgray;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
}
